<div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  <%= image_tag "ruby-on-rails.png", size: "480x188", alt: "Rails logo" %>
</div>

<p class="text-center text-lg">
 Rails 7 + Docker = Perfect combo!
</p>
